In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rocke\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rocke\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rocke\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\rocke\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\rocke\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\rocke\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\rocke\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rocke\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rocke\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rocke\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

# Q1.

In [4]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [6]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [10]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [11]:
print(len(job_title),len( job_location),len(company_name),len(experiance_required))

10 10 10 10

In [12]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experiance_required':experiance_required})
df

,job_title,job_location,company_name,experiance_required
0,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
1,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
2,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
3,Manager - Data Analyst - KPO,"Bangalore/Bengaluru, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Manager - Data Analyst - KPO,"Bangalore/Bengaluru, Delhi / NCR",Huquo Consulting Pvt. Ltd,3-8 Yrs
5,Data Analyst - Online/eCommerce,"Bangalore/Bengaluru, Kolkata, Mumbai, Chennai,...",Primo Hiring,3-6 Yrs
6,Data Analyst - Online / eCommerce,"Bangalore/Bengaluru, Kolkata, Mumbai, Chennai,...",Primo Hiring,3-6 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Mobile Premier League,3-5 Yrs
8,AM/Business Analyst - Data Analytics - SQL - KPO,Bangalore/Bengaluru,Search Light,3-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

# Q2.

In [13]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [15]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [16]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [17]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [19]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [20]:
print(len(job_title),len( job_location),len(company_name),len(experiance_required))

10 10 10 10

In [21]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experiance_required':experiance_required})
df

,job_title,job_location,company_name,experiance_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture,4-6 Yrs
9,Senior Data Scientist,Bangalore/Bengaluru,DXC Technology,6-10 Yrs

# Q3.

In [34]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

In [35]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [24]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [25]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi / NCR')

In [26]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]
salary_filter=[]

In [28]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
salary_tags=driver.find_elements(By.XPATH,'//div[@data-filter-id="salaryRange"]//div')
for i in salary_tags[0:10]:
    salary=i.text
    salary_filter.append(salary)

In [29]:
salary=driver.find_element(By.CLASS_NAME,"ellipsis fleft")
salary.send_keys('3-6 Lakhs')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".ellipsis fleft"}
  (Session info: chrome=106.0.5249.62)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D71353+2233171]
	Ordinal0 [0x00D08E31+1805873]
	Ordinal0 [0x00C166FD+812797]
	Ordinal0 [0x00C455DF+1005023]
	Ordinal0 [0x00C457CB+1005515]
	Ordinal0 [0x00C77632+1209906]
	Ordinal0 [0x00C61AD4+1120980]
	Ordinal0 [0x00C759E2+1202658]
	Ordinal0 [0x00C618A6+1120422]
	Ordinal0 [0x00C3A73D+960317]
	Ordinal0 [0x00C3B71F+964383]
	GetHandleVerifier [0x0101A2C2+2728322]
	GetHandleVerifier [0x0100C184+2670660]
	GetHandleVerifier [0x00E0102A+528106]
	GetHandleVerifier [0x00DFFE10+523472]
	Ordinal0 [0x00D1028C+1835660]
	Ordinal0 [0x00D14758+1853272]
	Ordinal0 [0x00D14845+1853509]
	Ordinal0 [0x00D1E7E4+1894372]
	BaseThreadInitThunk [0x76F77BA9+25]
	RtlInitializeExceptionChain [0x77E7BB3B+107]
	RtlClearBits [0x77E7BABF+191]

In [ ]:
print(len(job_title),len( job_location),len(company_name),len(salary_filter))

In [ ]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'salary_filter':salary_filter})
df

# Q4.

In [36]:
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [38]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('Sunglasses')

In [39]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [40]:
brand_tags=[]
price_tags=[]
description_tags=[]

In [41]:
#scraping details from the page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="__2B099V"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=(i.text)
    price_tags.append(price)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [42]:
start=0
end=2
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in brand_tags[0:100]:
    brand=i.text
    brand_tags.append(brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [46]:
next_button2=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button2.click()

In [47]:
print(len(brand_tags),len(price_tags),len(description_tags))

80 80 80

In [48]:
df=pd.DataFrame({'brand_tags':brand_tags,'price_tags':price_tags,'description_tags':description_tags})
df

,brand_tags,price_tags,description_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...
75,CARRERA\nOthers Rectangular Sunglasses (58)\n₹...,"₹2,999",Others Rectangular Sunglasses (58)
76,PIRASO\nUV Protection Aviator Sunglasses (58)\...,₹244,UV Protection Aviator Sunglasses (58)
77,Fastrack\nUV Protection Wrap-around Sunglasses...,₹359,UV Protection Wrap-around Sunglasses (Free Size)
78,SHAAH COLLECTIONS\nUV Protection Round Sunglas...,₹79,UV Protection Round Sunglasses (52)
79,"ROZZETTA CRAFT\nUV Protection, Gradient Retro ...",₹251,"UV Protection, Gradient Retro Square Sunglasse..."

# Q5

In [57]:
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [59]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('iphone 11')

In [60]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [69]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

In [76]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [77]:
start=0
end=2
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [78]:
start=0
end=2
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [79]:
print(len(rating_tags),len(summary_tags),len(review_tags))

16 16 16

In [80]:
df=pd.DataFrame({'rating_tags':rating_tags,'summary_tags':summary_tags,'review_tags':review_tags})
df

,rating_tags,summary_tags,review_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,5,Perfect product!,After using 3 years mobile review. Excellent &...
9,5,Terrific,I am using the phone for last 5 years and foun...
10,4,Good quality product,impressively Nice......\nOne of the greatest i...
11,5,Perfect product!,Nice products thanks flkat
12,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
13,5,Wonderful,Nice product..just love it
14,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
15,5,Mind-blowing purchase,Fantastic and prompt delivery.

# Q6

In [98]:
driver=webdriver.Chrome(r"C:\Users\rocke\Downloads\chromedriver_win32\chromedriver.exe")

In [116]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [117]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('sneakers')

In [118]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [119]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [120]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)
    
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [121]:
print(len(brand_tags),len(description_tags),len(description_tags),len(discount_tags))

80 78 78 80

In [122]:
df=pd.DataFrame({'brand_tags':brand_tags,'description_tags':description_tags,'description_tags':description_tags,'discount_tags':discount_tags})
df

ValueError: All arrays must be of the same length