In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shreyasi  saha\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: idna in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

# Q1.

In [27]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [28]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [29]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [30]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [31]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [32]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [33]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [34]:
print(len(job_title),len( job_location),len(company_name),len(experiance_required))

10 10 10 10

In [35]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experiance_required':experiance_required})
df

,job_title,job_location,company_name,experiance_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
4,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
5,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Klub,2-5 Yrs
7,Sr. SAP Hana Data Analyst,Bangalore/Bengaluru,Anicalls,5-10 Yrs
8,Business Execution (Data and Reporting Analyst),Bangalore/Bengaluru,Wells Fargo,6-11 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs

# Q2.

In [36]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [37]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [38]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [39]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [40]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [41]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [42]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [43]:
print(len(job_title),len( job_location),len(company_name),len(experiance_required))

10 10 10 10

In [44]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experiance_required':experiance_required})
df

,job_title,job_location,company_name,experiance_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
5,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
8,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
9,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs

# Q3.

In [45]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [46]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [47]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [48]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [49]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location.click()

In [51]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [52]:
job_title=[]
job_location=[]
company_name=[]
salary_filter=[]

In [53]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_filter.append(salary)

In [54]:
print(len(job_title),len( job_location),len(company_name),len(salary_filter))

10 10 10 10

In [55]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'salary_filter':salary_filter})
df

,job_title,job_location,company_name,salary_filter
0,Data Scientist,,GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,,Boston Consulting Group,"3,00,000 - 4,50,000 PA."
2,Data Scientist,,IHS Markit,"Noida, Nagpur, Bangalore/Bengaluru"
3,Lead Data Scientist,,R Systems International,2-5 Yrs
4,Data Scientist,,Optum,Not disclosed
5,Data Scientist / Chat-bot Developer,,Big Seo Buzz,"New Delhi, Bangalore/Bengaluru"
6,Data Scientist - Engine Algorithm,,Primo Hiring,3-6 Yrs
7,Data Activation Specialist - Adobe Target,,Okda Solutions,Not disclosed
8,Data Scientist,,NGI Ventures,Gurgaon/Gurugram
9,Data Scientist,,torcai digital media,Not disclosed

# Q4.

In [57]:
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [58]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [59]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [60]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('Sunglasses')

In [61]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [62]:
brand_tags=[]
price_tags=[]
description_tags=[]

In [63]:
#scraping details from the page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="__2B099V"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=(i.text)
    price_tags.append(price)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [64]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [65]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in brand_tags[0:100]:
    brand=i.text
    brand_tags.append(brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [66]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [67]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in brand_tags[0:100]:
    brand=i.text
    brand_tags.append(brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [68]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [70]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in brand_tags[0:100]:
    brand=i.text
    brand_tags.append(brand)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [71]:
print(len(brand_tags),len(price_tags),len(description_tags))

80 80 80

In [72]:
df=pd.DataFrame({'brand_tags':brand_tags,'price_tags':price_tags,'description_tags':description_tags})
df

,brand_tags,price_tags,description_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...
75,"ROYAL SON\nUV Protection, Gradient Over-sized ...",₹538,"UV Protection, Gradient Over-sized Sunglasses ..."
76,kingsunglasses\nUV Protection Rectangular Sung...,₹189,UV Protection Rectangular Sunglasses (55)
77,IDEE\nUV Protection Cat-eye Sunglasses (20)\n₹...,"₹1,139",UV Protection Cat-eye Sunglasses (20)
78,GANSTA\nUV Protection Retro Square Sunglasses ...,₹231,UV Protection Retro Square Sunglasses (53)
79,"ROYAL SON\nUV Protection, Gradient Over-sized,...",₹524,"UV Protection, Gradient Over-sized, Butterfly ..."

# Q5

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [73]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [ ]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [74]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('iphone 11')

In [75]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [76]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

In [78]:
all_review=driver.find_element(By.XPATH,'//a[@class="_3UAT2v _16PBlm"]')
all_review.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@class="_3UAT2v _16PBlm"]"}
  (Session info: chrome=106.0.5249.62)
Stacktrace:
Backtrace:
	Ordinal0 [0x010E1353+2233171]
	Ordinal0 [0x01078E31+1805873]
	Ordinal0 [0x00F866FD+812797]
	Ordinal0 [0x00FB55DF+1005023]
	Ordinal0 [0x00FB57CB+1005515]
	Ordinal0 [0x00FE7632+1209906]
	Ordinal0 [0x00FD1AD4+1120980]
	Ordinal0 [0x00FE59E2+1202658]
	Ordinal0 [0x00FD18A6+1120422]
	Ordinal0 [0x00FAA73D+960317]
	Ordinal0 [0x00FAB71F+964383]
	GetHandleVerifier [0x0138A2C2+2728322]
	GetHandleVerifier [0x0137C184+2670660]
	GetHandleVerifier [0x0117102A+528106]
	GetHandleVerifier [0x0116FE10+523472]
	Ordinal0 [0x0108028C+1835660]
	Ordinal0 [0x01084758+1853272]
	Ordinal0 [0x01084845+1853509]
	Ordinal0 [0x0108E7E4+1894372]
	BaseThreadInitThunk [0x76106739+25]
	RtlGetFullPathName_UEx [0x77168FD2+1218]
	RtlGetFullPathName_UEx [0x77168F9D+1165]

In [79]:
rating_tags=[]
summary_tags=[]
review_tags=[]

In [80]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [81]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [82]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [83]:
print(len(rating_tags),len(summary_tags),len(review_tags))

16 16 16

In [84]:
df=pd.DataFrame({'rating_tags':rating_tags,'summary_tags':summary_tags,'review_tags':review_tags})
df

,rating_tags,summary_tags,review_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,5,Perfect product!,After using 3 years mobile review. Excellent &...
9,5,Terrific,I am using the phone for last 5 years and foun...
10,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
11,5,Classy product,Awesome for this price range
12,4,Good quality product,impressively Nice......\nOne of the greatest i...
13,5,Perfect product!,Nice products thanks flkat
14,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
15,5,Mind-blowing purchase,Fantastic and prompt delivery.

# Q6

In [85]:
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [86]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [87]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [88]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('sneakers')

In [89]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [90]:
brand_tags=[]
description_tags=[]
price_tags=[]
discount_tags=[]

In [91]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [92]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [93]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [94]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [95]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [96]:
print(len(brand_tags),len(description_tags),len(description_tags))

80 72 72

In [ ]:
df=pd.DataFrame({'brand_tags':brand_tags,'description_tags':description_tags,'description_tags':description_tags,'discount_tags':discount_tags})
df

# Q7.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [97]:
#opening the website on automated browser page
driver.get("https://www.myntra.com/shoes")

In [98]:
filter1=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
filter1.click()

In [100]:
filter1=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
filter1.click()

In [101]:
brand_tags=[]
price_tags=[]
description_tags=[]
discount_tags=[]

In [102]:
brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brand_tags[0:100]:
    brand=(i.text)
    brand_tags.append(brand)
    
    
description_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)

In [105]:
print(len(brand_tags),len(description_tags))

100 100

In [108]:
df1=pd.DataFrame({'brand_tags':brand_tags,'description_tags':description_tags})
df1

,brand_tags,description_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...
95,Skechers,Women GO WALK Shoes
96,Skechers,Women GoWalk EUE Walking Shoes
97,Skechers,Men GO FLEX 2-COMPLETION Shoes
98,Skechers,Men Lite Pro Faint Sneakers
99,ADIDAS Originals,Men Leather Ozelia Sneakers

In [106]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="product-discountedPrice"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//span[@class="product-discountPercentage"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [107]:
print(len(price_tags),len(discount_tags))

76 76

In [109]:
df2=pd.DataFrame({'price_tags':price_tags,'discount_tags':discount_tags})
df2

,price_tags,discount_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...
71,Rs. 5949,(15% OFF)
72,Rs. 8449,(35% OFF)
73,Rs. 7499,(25% OFF)
74,Rs. 5949,(15% OFF)
75,Rs. 9349,(15% OFF)

# Q8

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [113]:
driver.get("https://www.amazon.in/")

In [114]:
search_input=driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
search_input.send_keys('Laptop')

In [115]:
search_input=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_input.click()

In [116]:
filter1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[13]/span/a/div/label/i')
filter1.click()

In [117]:
title_tags=[]
rating_tags=[]
price_tags=[]

In [118]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=(i.text)
    title_tags.append(title)

rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags[0:10]:
    rating=(i.text)
    rating_tags.append(rating)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=(i.text)
    price_tags.append(price)

In [119]:
print(len(title_tags),len(price_tags),len(rating_tags))

48 48 40

In [120]:
df=pd.DataFrame({'title_tags':title_tags,'price_tags':price_tags,'rating_tags':rating_tags})
df

ValueError: All arrays must be of the same length

# Q10.