In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shreyasi  saha\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: sortedcontainers in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shreyasi  saha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [46]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Asus\chromedriver_win32\chromedriver.exe")

# 1.

In [47]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [48]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [49]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [50]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [51]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [52]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [53]:
print(len(job_title),len( job_location),len(company_name),len(experiance_required))

10 10 10 10

In [54]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experiance_required':experiance_required})
df

,job_title,job_location,company_name,experiance_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

# 2.

In [55]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [56]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [57]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [58]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [59]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [60]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [61]:
print(len(job_title),len( job_location),len(company_name),len(experiance_required))

10 10 10 10

In [62]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experiance_required':experiance_required})
df

,job_title,job_location,company_name,experiance_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro,8-13 Yrs

# 3.

In [73]:
#opening the website on automated browser page
driver.get("https://www.naukri.com")

In [74]:
#entering designation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [75]:
#search for the required
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [76]:
#entering location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location.click()

In [77]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [78]:
job_title=[]
job_location=[]
company_name=[]
salary_filter=[]

In [79]:
#scraping job titles from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job locations from given page
location_tags=driver.find_elements(By.XPATH,'//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping company Names from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scraping experiance from given page
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_filter.append(salary)

In [80]:
print(len(job_title),len( job_location),len(company_name),len(salary_filter))

10 10 10 10

In [81]:
#creating Dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'salary_filter':salary_filter})
df

,job_title,job_location,company_name,salary_filter
0,Data Scientist,,GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,,Boston Consulting Group,"3,00,000 - 4,50,000 PA."
2,Data Scientist,,IHS Markit,"Noida, Nagpur, Bangalore/Bengaluru"
3,Lead Data Scientist,,R Systems International,2-5 Yrs
4,Data Scientist,,Optum,Not disclosed
5,Data Scientist / Chat-bot Developer,,Big Seo Buzz,"New Delhi, Bangalore/Bengaluru"
6,Data Scientist - Engine Algorithm,,Primo Hiring,3-6 Yrs
7,Data Activation Specialist - Adobe Target,,Okda Solutions,Not disclosed
8,Data Scientist,,NGI Ventures,Gurgaon/Gurugram
9,Data Scientist,,torcai digital media,Not disclosed

# 4.

In [82]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [ ]:
#remove the login popup window
close_popup=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close_popup.click()

In [ ]:
#input the search term
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('Sunglasses')

In [ ]:
#click the search button
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [ ]:
product_tags=[]
price_tags=[]
description_tags=[]

In [ ]:
#scraping details from the result page
product_tags=driver.find_elements(By.XPATH,'//div[@class="__2B099V"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=(i.text)
    price_tags.append(price)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [ ]:
product_tags=driver.find_elements(By.XPATH,'//div[@class="__2B099V"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [ ]:
product_tags=driver.find_elements(By.XPATH,'//div[@class="__2B099V"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=(i.text)
    description_tags.append(description)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [ ]:
print(len(product_tags),len(price_tags),len(description_tags))

In [ ]:
df=pd.DataFrame({'brand_tags':brand_tags,'price_tags':price_tags,'description_tags':description_tags})
df

# 5

In [ ]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [ ]:
close_popup=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close_popup.click()

In [ ]:
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('iphone 11')

In [ ]:
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [ ]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

In [ ]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8IBG6BS&marketplace=FLIPKART")

In [ ]:
rating_tags=[]
summary_tags=[]
review_tags=[]

In [ ]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()

In [ ]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=(i.text)
    rating_tags.append(rating)
    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:100]:
    summary=i.text
    summary_tags.append(summary)
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_button.click()

In [ ]:
print(len(rating_tags),len(summary_tags),len(review_tags))

In [ ]:
df=pd.DataFrame({'rating_tags':rating_tags,'summary_tags':summary_tags,'review_tags':review_tags})
df

# 6

In [ ]:
#opening the website on automated browser page
driver.get("https://www.flipkart.com")

In [ ]:
close_popup=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button") 
close_popup.click()

In [ ]:
search_input=driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys('sneakers')

In [ ]:
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [ ]:
product_tags=[]
description_tags=[]
price_tags=[]
discount_tags=[]

In [ ]:
product_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [ ]:
product_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [ ]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [ ]:
product_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [ ]:
print(len(product_tags),len(description_tags),len(description_tags))

In [ ]:
df=pd.DataFrame({'product_tags':product_tags,'description_tags':description_tags,'description_tags':description_tags,'discount_tags':discount_tags})
df

# 7.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Shreyasi  Saha\chromedriver_win32\chromedriver.exe")

In [ ]:
#opening the website on automated browser page
driver.get("https://www.myntra.com/shoes")

In [ ]:
filter1=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
filter1.click()

In [ ]:
filter2=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
filter2.click()

In [ ]:
product_tags=[]
price_tags=[]
description_tags=[]
discount_tags=[]

In [ ]:
product_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in product_tags[0:100]:
    product=(i.text)
    product_tags.append(product)
    
    
description_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in description_tags[0:100]:
    description=i.text
    description_tags.append(description)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="product-discountedPrice"]')
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)
    
discount_tags=driver.find_elements(By.XPATH,'//span[@class="product-discountPercentage"]')
for i in discount_tags[0:100]:
    discount=i.text
    discount_tags.append(discount)

In [ ]:
print(len(product_tags),len(description_tags),len(discount_tags),len(price_tags))

In [ ]:
df=pd.DataFrame({'product_tags':product_tags,'description_tags':description_tags,'discount_tags':discount_tags,'price_tags':price_tags})
df

# 8

In [39]:
driver.get("https://www.amazon.in/")

In [40]:
search_input=driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
search_input.send_keys('Laptop')

In [41]:
search_button=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_button.click()

In [42]:
filter1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[13]/span/a/div/label/i')
filter1.click()

In [43]:
product_tags=[]
rating_tags=[]
price_tags=[]

In [44]:
product_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in product_tags[0:10]:
    product=(i.text)
    product_tags.append(product)

rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags[0:10]:
    rating=(i.text)
    rating_tags.append(rating)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=(i.text)
    price_tags.append(price)

In [45]:
print(len(product_tags),len(price_tags),len(rating_tags))

42 42 39

In [ ]:
df=pd.DataFrame({'product_tags':product_tags,'price_tags':price_tags,'rating_tags':rating_tags})
df